.mat-form-field.mat-focused.mat-success .mat-form-field-ripple {
    background-color: $success-color;
}

.mat-form-field.mat-focused.mat-success .mat-form-field-label {
    color: $success-color;
}

.mat-wd10 {
    width: 100%;
}