<!-- otuline alert-->
<button mat-raised-button type="submit" color="primary" (click)="primaryOtuline()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <button mat-raised-button type="submit" color="accent" (click)="accentOtuline()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <button mat-raised-button type="submit" color="warn" (click)="warnOtuline()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <button mat-raised-button type="submit" color="success" (click)="successOtuline()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <br> <br>
  <!-- filled alert-->
  <button mat-stroked-button type="submit" color="primary" (click)="primaryFilled()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <button mat-stroked-button type="submit" color="accent" (click)="accentFilled()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <button mat-stroked-button type="submit" color="warn" (click)="warnFilled()" (ngSubmit)="presionar()">Show
    snack-bar</button>
  <button mat-stroked-button type="submit" color="success" (click)="successFilled()" (ngSubmit)="presionar()">Show
    snack-bar</button>