<div class="body">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>

  <div class="tabs">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Botones">
        
<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>
      </mat-tab>
      <mat-tab label="Inputs">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>

          <mat-form-field class="example-full-width " appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab label="snipper">

        <mat-spinner color="primary"></mat-spinner>
        <mat-spinner color="accent"></mat-spinner>
        <mat-spinner color="warn"></mat-spinner>

      </mat-tab>
      <mat-tab label="slide-toggle">
        <mat-slide-toggle color="primary">Slide me!</mat-slide-toggle>
        <mat-slide-toggle color="accent">Slide me!</mat-slide-toggle>
        <mat-slide-toggle color="warn">Slide me!</mat-slide-toggle>
        <mat-slide-toggle color="success">Slide me!</mat-slide-toggle>
      </mat-tab>
      <mat-tab label="alerts">
        <app-alerts> </app-alerts>
      </mat-tab>
      <mat-tab label="checkbox">
        <h1>checkbox</h1>
        <section class="example-section">
          <mat-checkbox class="example-margin" color="primary">Check me!</mat-checkbox>
          <mat-checkbox class="example-margin" color="accent">Disabled</mat-checkbox>
          <mat-checkbox class="example-margin" color="warn">Disabled</mat-checkbox>
          <mat-checkbox class="example-margin" color="success">Disabled</mat-checkbox>
        </section>
      </mat-tab>
      <mat-tab label="Slider">
        <mat-slider aria-label="unit(s)" color="primary"></mat-slider>
        <mat-slider aria-label="unit(s)" color="accent"></mat-slider>
        <mat-slider aria-label="unit(s)" color="warn"></mat-slider>
        <mat-slider aria-label="unit(s)" color="success"></mat-slider>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>